//- includes/head.jade
doctype html(lang='fr')
head
    meta(charset='utf-8')     
    script(type='text/javascript', src='../js/jquery-1.12.3.js')
    //script(src='../js/script.js')
    link(type='text/css', rel='stylesheet', href='../css/style.css')
    title JeuMulti | #{nomPage}   
body
  nav
    ul
      li
        a(href='/') Accueil / Regle du jeu
      |                 
      li
        a(href='/connexion') Connexion / Jouer
      |                 
      li
        a(href='/inscription') Inscription
      |                 
      li
        a(href='/score') Scores